test/NetCoreStack.Client/Connected Services/GuidelineServiceReference/GuidelineService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GuidelineService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:55512/GuidelineService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:55512/GuidelineService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/NetCoreStack.Contracts" />
      <xsd:import schemaLocation="http://localhost:55512/GuidelineService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:55512/GuidelineService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/NetCoreStack.Wcf.Contracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGuidelineService_ReturnPrimitive_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnPrimitive" />
  </wsdl:message>
  <wsdl:message name="IGuidelineService_ReturnPrimitive_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnPrimitiveResponse" />
  </wsdl:message>
  <wsdl:message name="IGuidelineService_ReturnPrimitive_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/NetCoreStack.Contracts" name="detail" element="q1:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IGuidelineService_LoggedServiceMethod_InputMessage">
    <wsdl:part name="parameters" element="tns:LoggedServiceMethod" />
  </wsdl:message>
  <wsdl:message name="IGuidelineService_LoggedServiceMethod_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoggedServiceMethodResponse" />
  </wsdl:message>
  <wsdl:message name="IGuidelineService_LoggedServiceMethod_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/NetCoreStack.Contracts" name="detail" element="q2:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IGuidelineService_RefTypeParameter_InputMessage">
    <wsdl:part name="parameters" element="tns:RefTypeParameter" />
  </wsdl:message>
  <wsdl:message name="IGuidelineService_RefTypeParameter_OutputMessage">
    <wsdl:part name="parameters" element="tns:RefTypeParameterResponse" />
  </wsdl:message>
  <wsdl:message name="IGuidelineService_RefTypeParameter_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/NetCoreStack.Contracts" name="detail" element="q3:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IGuidelineService_ThrowException_InputMessage">
    <wsdl:part name="parameters" element="tns:ThrowException" />
  </wsdl:message>
  <wsdl:message name="IGuidelineService_ThrowException_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThrowExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="IGuidelineService_ThrowException_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/NetCoreStack.Contracts" name="detail" element="q4:ServiceException" />
  </wsdl:message>
  <wsdl:message name="IGuidelineService_ThrowContractRuleException_InputMessage">
    <wsdl:part name="parameters" element="tns:ThrowContractRuleException" />
  </wsdl:message>
  <wsdl:message name="IGuidelineService_ThrowContractRuleException_OutputMessage">
    <wsdl:part name="parameters" element="tns:ThrowContractRuleExceptionResponse" />
  </wsdl:message>
  <wsdl:message name="IGuidelineService_ThrowContractRuleException_ServiceExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/NetCoreStack.Contracts" name="detail" element="q5:ServiceException" />
  </wsdl:message>
  <wsdl:portType name="IGuidelineService">
    <wsdl:operation name="ReturnPrimitive">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuidelineService/ReturnPrimitive" message="tns:IGuidelineService_ReturnPrimitive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuidelineService/ReturnPrimitiveResponse" message="tns:IGuidelineService_ReturnPrimitive_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGuidelineService/ReturnPrimitiveServiceExceptionFault" name="ServiceExceptionFault" message="tns:IGuidelineService_ReturnPrimitive_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoggedServiceMethod">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuidelineService/LoggedServiceMethod" message="tns:IGuidelineService_LoggedServiceMethod_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuidelineService/LoggedServiceMethodResponse" message="tns:IGuidelineService_LoggedServiceMethod_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGuidelineService/LoggedServiceMethodServiceExceptionFault" name="ServiceExceptionFault" message="tns:IGuidelineService_LoggedServiceMethod_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RefTypeParameter">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuidelineService/RefTypeParameter" message="tns:IGuidelineService_RefTypeParameter_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuidelineService/RefTypeParameterResponse" message="tns:IGuidelineService_RefTypeParameter_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGuidelineService/RefTypeParameterServiceExceptionFault" name="ServiceExceptionFault" message="tns:IGuidelineService_RefTypeParameter_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThrowException">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuidelineService/ThrowException" message="tns:IGuidelineService_ThrowException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuidelineService/ThrowExceptionResponse" message="tns:IGuidelineService_ThrowException_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGuidelineService/ThrowExceptionServiceExceptionFault" name="ServiceExceptionFault" message="tns:IGuidelineService_ThrowException_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ThrowContractRuleException">
      <wsdl:input wsaw:Action="http://tempuri.org/IGuidelineService/ThrowContractRuleException" message="tns:IGuidelineService_ThrowContractRuleException_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGuidelineService/ThrowContractRuleExceptionResponse" message="tns:IGuidelineService_ThrowContractRuleException_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IGuidelineService/ThrowContractRuleExceptionServiceExceptionFault" name="ServiceExceptionFault" message="tns:IGuidelineService_ThrowContractRuleException_ServiceExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGuidelineService" type="tns:IGuidelineService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReturnPrimitive">
      <soap:operation soapAction="http://tempuri.org/IGuidelineService/ReturnPrimitive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="LoggedServiceMethod">
      <soap:operation soapAction="http://tempuri.org/IGuidelineService/LoggedServiceMethod" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RefTypeParameter">
      <soap:operation soapAction="http://tempuri.org/IGuidelineService/RefTypeParameter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ThrowException">
      <soap:operation soapAction="http://tempuri.org/IGuidelineService/ThrowException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ThrowContractRuleException">
      <soap:operation soapAction="http://tempuri.org/IGuidelineService/ThrowContractRuleException" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ServiceExceptionFault">
        <soap:fault use="literal" name="ServiceExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GuidelineService">
    <wsdl:port name="BasicHttpBinding_IGuidelineService" binding="tns:BasicHttpBinding_IGuidelineService">
      <soap:address location="http://localhost:55512/GuidelineService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>